kummitus_user_profiles.json
modules/agi.py
memory.json
memory*.json
modules/.env
pulina.log
modules/pulina.log
modules/.env
user_notes.json
*.pid
train*
training
pulina*.json
all.json
.vscode
.env
default.db
malwaredomains.txt
logs/
sopel.pid
*.db
modules/*.pyc
modules/__pycache__/
modules/paikat.json
._.DS_Store
.DS_Store
mentioned_users.json
test_api.py
